body {
    margin: 0;
    padding: 0;
}

.cuerpo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B0B0B;
    height: 100vh;
}

label {
    font-family: "open sans";
    font-size: 20px;
    color: #FFF100;
}

.btn-light {
    font-family: "open sans";
    background-color: #FFF100;
    font-size: 20px;
}

.btn-light:hover {
    background-color: #C6BB00;
}

.form-control {
    width: 250px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.form-control:focus {
    width: 280px;
}