.acordeon-container {
    width: 50%;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.acordeon {
    background-color: #FFF100;
    color: rgb(8, 8, 8);
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    font-family: "open sans";
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    overflow: hidden;
    width: 100%;
}

.activa,
.acordeon:hover {
    background-color: #C6BB00;
}

.acordeon:after {
    content: '\002B';
    color: #0B0B0B;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #C6BB00;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

p {
    font-size: 18px;
}

.imagenAcordeon {
    width: 250px;
    height: 250px;
    left: 5px;
    top: 5px;
    bottom: 10px;
    background-size: 300px 300px;
    background-position: center center;
    z-index: 2;
    transition: .5s;
}

.imagenAcordeon:hover {
    transform: scale(1.1);
    transition: .5s;
}