@font-face {
    font-family: "Dead Stock";
    src: url("../font/dead_stock_-_demo-webfont.woff2");
}

.font_dead {
    font-family: 'Dead Stock';
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B0B0B;
}

footer p {
    font-family: "open sans";
    color: white;
}

.hamburger {
    position: fixed;
    background-color: transparent;
    left: 0;
    top: 0;
    height: 30px;
    width: 30px;
    padding: 20px 20px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    z-index: 1002;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.hamburger.is-active {
    background-color: none;
}

._layer {
    background: #FFF100;
    margin-bottom: 4px;
    border-radius: 2px;
    width: 28px;
    height: 4px;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    transition: all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
}

.hamburger:hover .-top {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
}

.hamburger:hover .-bottom {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}

.hamburger.is-active .-top {
    -webkit-transform: translateY(200%) rotate(45deg) !important;
    -ms-transform: translateY(200%) rotate(45deg) !important;
    transform: translateY(200%) rotate(45deg) !important;
}

.hamburger.is-active .-mid {
    opacity: 0;
}

.hamburger.is-active .-bottom {
    -webkit-transform: translateY(-200%) rotate(135deg) !important;
    -ms-transform: translateY(-200%) rotate(135deg) !important;
    transform: translateY(-200%) rotate(135deg) !important;
}

.menuppal.is_active {
    transform: translate3d(0px, 0px, 0px);
}

.menuppal {
    background-color: rgba(53, 53, 53, 0.95);
    bottom: 0;
    height: 100%;
    left: 0;
    overflow-y: scroll;
    position: fixed;
    top: 0;
    transform: translate3d(0px, -100%, 0px);
    transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
    width: 100%;
    z-index: 1001;
}

.menuppal ul {
    margin: 0;
    padding: 0;
}

.menuppal ul li {
    list-style: none;
    text-align: center;
    font-family: 'Dead Stock', Arial, Helvetica;
    color: #FFF100;
    font-size: 1.5rem;
    line-height: 3em;
    height: 3em;
    /*color: #369;*/
    text-transform: none;
    font-weight: bold;
}

.menuppal ul li a {
    text-decoration: none;
    color: #FFF100;
}

.menuppal ul li a:hover {
    text-decoration: none;
    color: #D10000;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.personajes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div .subtitulo {
    font-family: 'Dead Stock';
    color: #FFF100;
    font-size: 50px;
    text-align: center;
}

.wrap {
    width: 1100px;
    /*margin: 50px auto;*/
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.tarjeta-wrap {
    margin: 10px;
    -webkit-perspective: 800;
    perspective: 800;
}

.tarjeta {
    width: 300px;
    height: 350px;
    background: #F29720;
    position: relative;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: .7s ease;
    transition: .7s ease;
    -webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
    box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.65);
}

.adelante,
.atras {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.adelante {
    width: 100%;
}

.atras {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: black;
    font-family: "open sans";
    background: #FFF100;
}

.tarjeta-wrap:hover .tarjeta {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.card1 {
    background-image: url("../img/johny_lawrence_cobra.jpg");
    background-size: cover;
}

.card2 {
    background-image: url("../img/daniel-larusso.jpg");
    background-size: cover;
}

.card3 {
    background-image: url("../img/miguel_diaz.jpg");
    background-size: cover;
}

.card4 {
    background-image: url("../img/rooby.jpg");
    background-size: cover;
}

.fondo2 {
    width: 100%;
    height: 100vh;
    background: url("../img/cobra1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.fondo3 {
    width: 100%;
    height: 100vh;
    background: url("../img/cobra2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.fondo4 {
    width: 100%;
    height: 100vh;
    background: url("../img/bosses.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.fondo5 {
    width: 100%;
    height: 100vh;
    background: url("../img/cobra1.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.fondo6 {
    width: 100%;
    height: 100vh;
    background: url("../img/cobra2.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
}

.div {
    background-color: #0B0B0B;
    margin-bottom: 0%;
    height: 100vh;
}

.div p {
    font-family: 'open sans';
    color: #0B0B0B;
    font-size: 15px;
    text-align: center;
}

.div .countdown {
    font-family: 'Dead Stock';
    color: #FFF100;
    font-size: 50px;
    text-align: center;
}

.countdownContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.div .countdownFijo {
    font-family: 'Dead Stock';
    color: #FFF100;
    font-size: 50px;
}

.contenedor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
}

.elemento {
    animation: loader 1.5s ease-in-out infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.cargando {
    font-family: 'Dead Stock';
    color: #FFF100;
    font-size: 35px;
}

.carrusel {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.carrusel p {
    font-family: 'Dead Stock';
    color: #FFF100;
    font-size: 50px;
}

.carousel,
.carousel-inner>.item>img {
    height: 600px;
    width: 900px;
}

.eventosContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 550px;
}

.acordeon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.acordeon {
    background-color: #FFF100;
    color: rgb(8, 8, 8);
    cursor: pointer;
    /*padding: 18px;*/
    border: none;
    text-align: left;
    font-family: "open sans";
    outline: none;
    font-size: 20px;
    transition: 0.4s;
    overflow: hidden;
    width: 70%;
}

.activa,
.acordeon:hover {
    background-color: #C6BB00;
}

.acordeon:after {
    content: '\002B';
    color: #0B0B0B;
    font-weight: bold;
    float: right;
    /*margin-left: 5px;*/
}

.activa:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: #C6BB00;
    width: 70%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    text-align: left;
    font-size: 18px;
}

.imagenAcordeon {
    width: 250px;
    height: 250px;
    left: 5px;
    top: 5px;
    bottom: 10px;
    background-size: 300px 300px;
    background-position: center center;
    z-index: 2;
    transition: .5s;
}

.imagenAcordeon:hover {
    transform: scale(1.1);
    transition: .5s;
}

.johnny {
    background: url('../img/scroll1.png');
    top: 2648px;
    width: 267px;
    height: 495px;
    position: absolute;
    /*z-index: 3;*/
    left: -267px;
}

.daniel {
    background: url('../img/scroll2.png');
    top: 2648px;
    width: 267px;
    height: 495px;
    position: absolute;
    left: 1350px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 550px;
}

label {
    font-family: "open sans";
    font-size: 20px;
    color: #FFF100;
}

.btn-light {
    font-family: "open sans";
    background-color: #FFF100;
    font-size: 20px;
}

.btn-light:hover {
    background-color: #C6BB00;
}

.form-control {
    width: 250px;
    -webkit-transition: width .35s ease-in-out;
    transition: width .35s ease-in-out;
}

.form-control:focus {
    width: 280px;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/dojo.jpg");
}

.hero .img1 {
    position: absolute;
    top: 100px;
    left: 50px;
    object-fit: cover;
}

.hero .img2 {
    position: absolute;
    top: 320px;
    left: 1225px;
    object-fit: cover;
}

.hero .img3 {
    position: absolute;
    top: 600px;
    left: 100px;
    object-fit: cover;
}

.hero .layer-center {
    position: relative;
    background-image: url("../img/texto.png");
    width: 937px;
    height: 309px;
    object-fit: cover;
}

#tituloHero {
    animation: aparecer 3.5s ease-in-out;
}

@keyframes aparecer {
    0% {
        transform: scale(50%);
    }
    100% {
        transform: scale(100%);
    }
}