canvas {
    outline: black 3px solid;
}

.detalles {
    text-align: left;
    margin-right: 25%;
    margin-left: 5%;
    margin-top: 1%;
    border-radius: 5px;
}

.botones {
    margin-top: 1%;
    margin-left: 1%;
}